.img {
  margin-top: 20px;
  height: 240px;
  width: 240px;
  object-fit: contain;
}
.text {
  padding: 30px;
  color: rgba(165, 42, 42, 0.645);

}
.price {
  font-size: 24px;
  color: rgba(165, 42, 42, 0.645);
}
